/* /* /**
 * index.css
 * - Add any styles you want here!
* MAKE THE NAV BAR BLUE 
THE BACKGROUND WHITE 
ADET  NAV ON THE LEFT
 */
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', open sans;
  font-size: 15px;
  font-weight: 250;
  color: #4f5d6e;
  position: relative;
  background: rgb(255, 255, 255);
  
}
/* nav ul li:first-child { float: left; } */

nav ul li { 
  list-style:none;
  margin:2px;
/*   float: right;  */
}

a:visited {
  color: yellow;
}

a:hover {
    color: hotpink;
}
/* ::selection {
  background: #fcfcfc;
  background: rgba(255,255,255, 0.2);
  text-shadow: none;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255,255,255, 0.2);
} */
/* .nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}
 */

  
