<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Contact Us</title>
  </head>
  <body>

    <h2> Contact Us </h2>
    
    <p>
        <h5> We strive to provide the best service we could. </h5>
    </p>

    <p>
        <h3> Have some questions or concerns? </h3>
        <h5> We will love to hear from you... </h5>
    </p>
    

    <!-- Facebook link, Still need to put the right one. -->
    <p>
        <i class="fa fa-facebook-official" style="font-size:36px"> 
            <a href="https://www.facebook.com" target="_blank">
                Adex
            </a>
          </i>
    </p>

    <!-- Phone number space, still need to put the right one -->
    <p>
        <i class="fa fa-phone" style="font-size:36px"> 
          306-123-4567 
        </i>
    </p>

      

        <!-- <a href="mailto:rajiridwan09@gmail.com"> Email Us</a> -->
    <form action="sendMail;" name="contactForm" id="contactForm" method="post">
      <button type="button" onclick="sendMail()"> 
        This Email Us opens a new tab to activate default email client
      </button>
    </form>

    <button type="button"> <a href="mailto:rajiridwan09@gmail.com"> 
      This *Email Us* doesnt open a new tab to activate default email client </a> 
    </button>
    <script>
      function sendMail() {
        window.open('mailto:rajiridwan09@gmail.com')
      } 
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../node_modules/jquery/dist/jquery.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>