/* /* /**
 * index.css
 * - Add any styles you want here!
 */
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 350;
  color: #4f5d6e;
  position: relative;
  background: rgb(26, 49, 95);
  
}


a:visited {
  color: yellow;
}

/* ::selection {
  background: #fcfcfc;
  background: rgba(255,255,255, 0.2);
  text-shadow: none;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255,255,255, 0.2);
} */
/* .nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}
 */

  
